<a href="https://colab.research.google.com/github/chanmin03/DL23/blob/main/DL/DLW02d.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

---
# üìó Topic [2]: Coding basic #2
---
Keywords:

+ variables
+ **operators**
+ **data types: list and dictionary**

Your github IDs [here](https://docs.google.com/spreadsheets/d/17SX51lCqOdtvC7cAGoX5tP9fKwVdGY5sRzMg2pXh9uk/edit#gid=0) - revised 0327

## [1] Variables

+ **A variable** is a named storage location that holds a value.
+ Variables can be used **to store values** such as numbers, strings, lists, or other data types. 
+ The value of a variable can change throughout the execution of a program. 
+ To declare a variable in Python, you need to assign a value to it using the **equal (=) sign.**

In [8]:
x = 10
y = "Hello, class!"
z = [1, 2, 3]

‚ÜóÔ∏è In the above example, 'x' is assigned the value of 10, 'y' is assigned the value of "Hello, World!", and 'z' is assigned the value of [1, 2, 3].

In [9]:
# We can assign a link or a function
import pandas as pd
url = "https://github.com/MK316/Spring2023/raw/main/data/att_sample.csv"
data = pd.read_csv(url)
data

      Names
0      Mary
1      John
2       Tim
3       Bob
4     Sarah
5      Kate
6     Marie
7   Johnson
8      Mike
9     Harry
10      Jin
11      Sam
12     Paul
13  Natalie

## Commenting '#'

- In Python, the # symbol is used to indicate comment lines. A comment is a line of text in a code that is ignored by the Python interpreter and is used to provide explanations or notes for the reader of the code.

## Uncommenting shortcut: 
* "Ctrl + /" (Place the cursor on the code line and press the Control + / key.)

In [2]:
# This is a comment in Python
x = 10 # this is also a comment #ÏÉµ ÏòÜÏóê Ïì∞Îäî ÏΩîÎ©òÌä∏Îäî Ïª¥Ìì®ÌÑ∞Í∞Ä Ïïà ÏùΩÏùåÏùå

In [4]:
x1 = x * 10
x2 = x + 5

#print(x1) # Print the value of x1
# print(x1, x2) # Print the values of x1 and x2

In [22]:
print(y)
# y1 = y + "Welcome to the class."
z1 = x1 * x2
x = "John"
y = "came in."
z1 = x * 10
print(z1)

came in.
JohnJohnJohnJohnJohnJohnJohnJohnJohnJohn

Input types:

* integer: e.g., -3, 1, 0, 234, etc.
* float: e.g., -3.0, 1.2, 0, 3.141592653589793238, etc.
* string: (characters) "1", '0', "3.29", "Mary", "euphoria", 'My name is Jane.'

_Note:_ double or single quotation marks denote **string** data. (Open and close should match.)

In [16]:
# DIY
x = 1
y = 3
z = x + y
print(z)

x1 = "1"
y1 = "3"
z1 = x1 + y1
print(z1)

4
13

In [23]:
type(z)

int

In [24]:
type(z1)

str

In [25]:
print(type(z), type(z1))

<class 'int'> <class 'str'>

## [2] Operators

* Symbols that perform operations on values and variables. 
* They are used to perform arithmetic and logical operations, and they can also be used to manipulate and compare values.

1. Arithmetic Operators: +, -, *, /, %, ** (for exponentiation)
2. semicolon ';' - separate multiple statements (code lines) on a single line.

In [26]:
x = 2; y = 5

a1 = x + y
a2 = x - y
a3 = x * y
a4 = x / y
a5 = x ** y

In [27]:
print(a1, a2, a3, a4, a5)

7 -3 10 0.4 32

In [29]:
print("The value of a5:", a5)

The value of a5: 32

# üå± Define a function

Demo üî¢ Calculator

In [33]:
# This function adds two numbers
def add(x, y): 
    return x + y #Í≤∞Í≥ºÎ•º return

# This function subtracts two numbers
def subtract(x, y):
    return x - y

# This function multiplies two numbers
def multiply(x, y):
    return x * y

# This function divides two numbers
def divide(x, y):
    return x / y

In [35]:
# DIY: define a function names switch(x, y), where the input x, y changes its position in the output.

def switch(x,y):
  return print(y,x)

In [40]:
switch("Ï∞¨ÎØº", "Ïù¥")

Ïù¥ Ï∞¨ÎØº

In [36]:
add(1200,34)

1234

In [41]:
# Test

add(2,3)
subtract(3,2)
multiply(2,3)
divide(3,2)

1.5

## Using dropbox format

In [42]:
#@markdown üîÑ Making functions: tts('text')
%%capture
!pip install gTTS
from gtts import gTTS
from IPython.display import Audio

def tts(text):
  text_to_say = text

  gtts_object = gTTS(text = text_to_say,
                     lang = "en", tld = "us",
                    slow = True)
  
  gtts_object.save("E-audio.mp3")
  return Audio("E-audio.mp3")

In [50]:
func = "multiply" #@param = ["add","subtract","multiply","divide"]
digits = input("Type two numbers: (e.g., 3,4)")
digitsplit = digits.split(',')
d1 = int(digitsplit[0])
d2 = int(digitsplit[1])

if func == "add":
  result = add(d1,d2)
  text = "The addition of %d and %d equals %d."%(d1,d2,result)
elif func == "subtract":
  result = subtract(d1,d2)
  text = "If you subtract %d from %d, you get %d."%(d2,d1,result)
elif func == "divide":
  result = divide(d1,d2)
  text = "When you divide %d by %d, you get %d."%(d1,d2,result)
elif func == "multiply":
  result = multiply(d1,d2)
  text = "%d multiplied by %d is %d."%(d1,d2,result)

print(text)
tts(text)
Audio("E-audio.mp3", autoplay = True)

Type two numbers: (e.g., 3,4)12,32
12 multiplied by 32 is 384.

More operators: <br>
* Comparison Operators: ==, !=, <, >, <=, >= <br>
* Assignment Operators: =, +=, -=, *=, /=, %= <br>
* Logical Operators: and, or, not <br>
* Identity Operators: is, is not <br>
* Membership Operators: in, not in

# üìóTopic [3] Data types: number, string, list and dictionary


|Data type| |
|:--:|:--:|
|number|int, float|
|string|charcter|
|list|[1, 2,4], ['Mary','Tom','Jane'|
|dictionary|(key: value), [('English': 80), ('Korean':90)]|
|tuple|('zero', 0)|

In [52]:
a1 = 3   # a1 is integer #ÏΩîÎî©ÎÑàÎ¨¥Ïñ¥Î†§ÏõåÏöî
a2 = 3.0 # a2 is float #ÎîîÏßÄÌÑ∏Î¶¨ÌÑ∞Îü¨Ïãú
a3 = "3" # a3 is string #ÌôîÏù¥ÌåÖ

type(a1); type(a2); type(a3)
print(type(a1), type(a2), type(a3))

<class 'int'> <class 'float'> <class 'str'>

list and index (0, 1, 2,...)

In [55]:
a = [1, "Mary", 4, "John"]  # This is a list.
print(type(a))
# Î¶¨Ïä§Ìä∏ + Î¶¨Ïä§Ìä∏Îäî ÎëêÍ∞ú Í≤∞Ìï©ÏãúÏºúÏ§åÏ§å
a+a

<class 'list'>

[1, 'Mary', 4, 'John', 1, 'Mary', 4, 'John']

* index: Python index starts from '0'

e.g., a = [1, 2, 3, 4]

In [61]:
a[0]
type(a[0])
type(a[1])
a[0] + a[2]
a[0] + a[1] # int + str = error

TypeError: ignored

[Github accounts](https://raw.githubusercontent.com/MK316/Spring2023/main/DL/files/DL_github.csv)



---
# The End